@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --beige: #f6f4ee;
  --green: #233a2f;
  --blue: #272c35;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.serif {
  font-family: var(--font-playfair);
}

.heading {
  font-family: var(--font-bebas);
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
